<!-- <ion-item *ngIf="userData" lines="none" detail detailIcon="ios-arrow-down" color="primary">
  <ion-label>
    <h2>{{userData.nome}} {{userData.snome}}</h2>
  </ion-label>

  <ion-icon slot="end" name="person"></ion-icon>
</ion-item> -->

<div class="item-bg" *ngIf="userData">
	<ion-grid>
		<ion-row (click)="openUserData()">
			<ion-col style="padding: 0px 10px 0px 0px" size-md="4" size-xs="4" size-sm="4" size-lg="4">
				<p class="p-name">{{ userData?.nome }} {{ userData?.snome }}</p>
			</ion-col>

			<ion-col
				style="padding: 0px 10px 0px 0px; text-align: center"
				size-md="4"
				size-xs="4"
				size-sm="4"
				size-lg="4"
			>
				<img class="fingerprint-img" src="../../assets/images/finger-print.png" />
			</ion-col>

			<ion-col style="padding: 0px 10px 0px 0px" size-md="4" size-xs="4" size-sm="4" size-lg="4">
				<img class="person-img" src="../../assets/images/Avatar.png" />
			</ion-col>
		</ion-row>
	</ion-grid>
</div>
