.item-bg{
    background: transparent;
}

.person-img{
    width: 43px;
    height: 40px;
}

.fingerprint-img{
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.p-name{
    margin-top: 8px;
    font-size: 0.8rem;
    color: #ffffff;
}