.tabs-bg{
    background: transparent linear-gradient(266deg, #2694A3 0%, #01426A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 30px #505C6229;
    opacity: 1;
}

.tabs-btn{
    background: transparent;
    color: #ffffff;
}
