<ion-header>
    <ion-toolbar color="primary">
      <div wrap-box style="display: flex">
  
        <ion-title>
          <img src="../../assets/images/mia-wht.png" width="200" alt="">
        </ion-title>
  
        <ion-buttons slot="end" class="ion-text-right">
            <app-user-bar></app-user-bar>
        </ion-buttons>
      </div>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
    <div wrap-box>
      <ion-grid>
        <ion-row class="sub-toolbar">
          <ion-col>
            <h1>AGENDA</h1>
            <p>Gerencie seu tempo, faça o que você quiser</p>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button color="secondary">
              <ion-icon name="clipboard"></ion-icon> Atender
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-card mode="ios">
        <ion-card-header class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button fill="clear">
                  <ion-icon name="ios-arrow-back"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-text-center">
                <p>Selecione o mes</p>
                <h3><strong>Novembro 2019</strong></h3>
              </ion-col>
              <ion-col>
                <ion-button fill="clear">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-col>
              <div style="position: absolute; right: 8px;">
                  <ion-button color="secondary" fill="outline" shape="round"><ion-icon name="md-create"></ion-icon></ion-button>
              </div>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
  
      <!-- <ion-fab vertical="top" horizontal="end" style="margin-top: 60px;">
        <ion-button fill="outline" shape="round" color="secondary">
          <ion-icon name="md-create"></ion-icon>
        </ion-button>
      </ion-fab> -->
  
    </div>
  
  
  </ion-content>