<ion-header>
  <ion-toolbar>
    <div class="toolbar-bg">
      <ion-title>
        <img src="../../assets/images/mia-wht.png" width="200" alt="" />
      </ion-title>

      <ion-buttons slot="end" class="ion-text-right">
        <app-user-bar></app-user-bar>
      </ion-buttons>
    </div>

    <div
      class="toolbar-bg"
      style="box-shadow: 0px 0px 0px #00000059 !important"
    >
      <ion-segment
        color="secondary"
        (ionChange)="segmentChange($event)"
        [(ngModel)]="tab"
      >
        <ion-segment-button value="forms">FORMULÁRIOS</ion-segment-button>
        <ion-segment-button value="status">STATUS</ion-segment-button>
        <ion-segment-button value="rec">RECOMENDAÇÕES</ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div *ngIf="moreOptions" class="tab-options">
      <div *ngIf="tab == 'forms'">
        <ion-row>
          <ion-col size="3" (click)="open_multiple()">
            <img
              class="tab-icon-imgs"
              style="width: 19px; height: 16px"
              src="../../assets/images/list-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_binaria()">
            <img
              class="tab-icon-imgs"
              style="width: 20px; height: 20px"
              src="../../assets/images/binary-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_gestalt()">
            <img
              class="tab-icon-imgs"
              style="width: 16px; height: 20px"
              src="../../assets/images/photo-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_levels()">
            <img
              class="tab-icon-imgs"
              style="width: 18px; height: 18px"
              src="../../assets/images/tune-bar-icon.png"
            />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" (click)="open_multiple()">
            <p class="tab-p-style">Múltipla</p>
          </ion-col>

          <ion-col size="3" (click)="open_binaria()">
            <p class="tab-p-style">Binária</p>
          </ion-col>

          <ion-col size="3" (click)="open_gestalt()">
            <p class="tab-p-style">Gestalt</p>
          </ion-col>

          <ion-col size="3" (click)="open_levels()">
            <p class="tab-p-style">Níveis</p>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="tab == 'status'">
        <ion-row>
          <ion-col size="6" (click)="open_patologia()">
            <img
              class="tab-icon-imgs"
              style="width: 16px; height: 18px"
              src="../../assets/images/bug-report-icon.png"
            />
          </ion-col>

          <ion-col size="6" (click)="open_biomarcador()">
            <img
              class="tab-icon-imgs"
              style="width: 16px; height: 16px"
              src="../../assets/images/bubble-icon.png"
            />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" (click)="open_patologia()">
            <p class="tab-p-style">Patologia</p>
          </ion-col>

          <ion-col size="6" (click)="open_biomarcador()">
            <p class="tab-p-style">Biomarcador</p>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="tab == 'rec'">
        <ion-row>
          <ion-col size="3" (click)="open_tratamento()">
            <img
              class="tab-icon-imgs"
              style="width: 20px; height: 20px"
              src="../../assets/images/spa-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_content()">
            <img
              class="tab-icon-imgs"
              style="width: 20px; height: 16px"
              src="../../assets/images/movie-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_food()">
            <img
              class="tab-icon-imgs"
              style="width: 22px; height: 19px"
              src="../../assets/images/cart-icon.png"
            />
          </ion-col>

          <ion-col size="3" (click)="open_activity()">
            <img
              class="tab-icon-imgs"
              style="width: 23px; height: 23px"
              src="../../assets/images/setting-icon.png"
            />
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3" (click)="open_tratamento()">
            <p class="tab-p-style">Tratamento</p>
          </ion-col>

          <ion-col size="3" (click)="open_content()">
            <p class="tab-p-style">Conteúdo</p>
          </ion-col>

          <ion-col size="3" (click)="open_food()">
            <p class="tab-p-style">Alimentação</p>
          </ion-col>

          <ion-col size="3" (click)="open_activity()">
            <p class="tab-p-style">Atividades</p>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div style="display: flex">
      <ion-fab-button
        style="margin-right: 8px"
        (click)="(moreOptions)? moreOptions = false : moreOptions = true"
        slot="fixed"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="openFilter()">
        <ion-icon name="md-funnel"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>
  <div wrap-box>
    <div *ngIf="tab =='rec'">
      <ion-grid class="ion-no-padding">
        <ion-row class="sub-toolbar">
          <ion-col size="8">
            <h1>GESTÃO DE RECOMENDAÇÕES</h1>
            <p>
              Você é o cientista que define padrões para cuidar de vidas.
              Obrigado!
            </p>
          </ion-col>

          <ion-col size="4">
            <ion-item lines="none" class="search-bar">
              <ion-input
                class="search-input"
                type="text"
                placeholder="Pesquise uma recomentação..."
              >
                <ion-icon
                  class="searchbar-icon"
                  ios="ios-search"
                  md="md-search"
                ></ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card class="data-card">
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h2><strong>Output</strong></h2>
            </ion-label>
          </ion-item>

          <ion-item lines="none" class="item-bg-dark">
            <div style="width: 92px"></div>
            <ion-label>
              <p>
                Categoria
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>
            <ion-label>
              <p>
                Status
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>
                Ordem
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>
                Tipo
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>
                Nome
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>
                Unidade
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>
                Vídeo Link
                <ion-icon
                  class="dropdown-icon"
                  name="ios-arrow-down"
                ></ion-icon>
              </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none" *ngFor="let i of [0,1]">
            <ion-button
              style="margin: 0px 8px 0px 8px"
              fill="clear"
              color="secondary"
              slot="start"
            >
              <ion-icon name="md-create"></ion-icon>
            </ion-button>

            <ion-button
              style="margin: 0px 8px 0px 8px"
              fill="clear"
              color="secondary"
              slot="start"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>

            <ion-label>
              <p>Categoria</p>
            </ion-label>

            <ion-label>
              <p>Patologia</p>
            </ion-label>

            <ion-label>
              <p>Ordem</p>
            </ion-label>

            <ion-label>
              <p>Conteúdos</p>
            </ion-label>

            <ion-label>
              <p>Tratamentos</p>
            </ion-label>

            <ion-label>
              <p>Alimentação</p>
            </ion-label>

            <ion-label>
              <p>Exercícios</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <!-- Formularios -->
    <div *ngIf="tab =='forms'">
      <ion-grid class="ion-no-padding">
        <ion-row class="sub-toolbar">
          <ion-col size="8">
            <h1>GESTÃO DE FORMULÁRIOS</h1>
            <p>
              Você é o cientista que define padrões para cuidar de vidas.
              Obrigado!
            </p>
          </ion-col>

          <ion-col size="4">
            <ion-item lines="none" class="search-bar">
              <ion-input
                class="search-input"
                type="text"
                placeholder="Pesquise um formulário ou item..."
              >
                <ion-icon
                  class="searchbar-icon"
                  ios="ios-search"
                  md="md-search"
                ></ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list *ngIf="allFilters" >
        <ion-card
          class="data-card"
          *ngFor="let item of allFilters; let i = index"
        >
          <ion-item class="ion-hide-sm-down">
            <ion-label>
              <p>{{item.titles?.nform}}</p>
              <p><b>{{item?.formularios[0]?.nform}}</b></p>
            </ion-label>
            <ion-label >
              <p>{{item.titles?.formulario}}</p>
              <p><b>{{item.formularios[0]?.form}}</b></p>
            </ion-label>
            <ion-label >
              <p>{{item.titles.nivel}}</p>
              <p><b>{{item.formularios[0]?.nivel?item.formularios[0]?.nivel:'N/A'}}</b></p>
            </ion-label>
            <ion-label >
              <p>{{item.titles.fordem}}</p>
              <p><b>{{item.formularios[0]?.fordem?item.formularios[0]?.fordem:'N/A'}}</b></p>
            </ion-label>
                 <!-- 
                    <ion-label>
         
           <p>Editar Formulário </p>
              <ion-icon
              name="create-outline"
              style="font-size: x-large; margin-left: 15%; cursor: pointer;color: #EF9E95;"
              (click)="edit_multiple(item)"
              
            ></ion-icon>
            </ion-label>
            <ion-label>
              <p>Excluir Formulário </p>
                 <ion-icon
                 name="close-outline"
                 style="font-size: x-large; margin-left: 15%; cursor: pointer;color: #EF9E95;"
                 (click)="del_multiple(item)"
         
               ></ion-icon>
               </ion-label>
              -->
        
          </ion-item>

          <ion-item class="ion-hide-sm-up">
            <ion-label>
              <!-- 
          <p style="display: flex;">Excluir Formulário     <ion-icon
                name="close-outline"
                style="font-size: x-large; margin-left: auto; cursor: pointer;color: #EF9E95;"
                (click)="del_multiple(item)"
            
              ></ion-icon></p>
              <p style="display: flex;">Editar Formulário     <ion-icon
                name="create-outline"
                style="font-size: x-large; margin-left: auto; cursor: pointer;color: #EF9E95;"
                (click)="edit_multiple(item)"
            
              ></ion-icon></p>
              -->
    
          
              <p>{{item.titles?.nform}}: <b>{{item?.formularios[0]?.nform}}</b></p>
              <p>{{item.titles?.formulario}}: <b>{{item.formularios[0]?.form}}</b></p>
              <p>{{item.titles.nivel}}: <b>{{item.formularios[0]?.nivel?item.formularios[0]?.nivel:'N/A'}}</b></p>
              <p>{{item.titles.fordem}}: <b>{{item.formularios[0]?.fordem?item.formularios[0]?.fordem:'N/A'}}</b></p>
             
           
           
            </ion-label>
          </ion-item>
     
     
          <ion-grid fixed>
            <ion-row>
              <ion-col
                size="12"
                style="cursor: pointer"
                (click)="queryFormIndex(item,i)"
              >
                <ion-label class="ion-margin-start">
                  <ion-icon
                  [name]="item.show? 'caret-down-outline':'caret-forward-outline'"
                    
                    style="margin-right: 10px"
                  ></ion-icon>
                  Ver Questões ({{item.questoes?.length?
                  item.questoes?.length:0}})</ion-label
                >
              </ion-col>
            </ion-row>

            <div *ngIf="item.questoes?.length"  class="question-div" [class.opened]='item.show'>
              <ion-row *ngFor="let questao of item.questoes;let i = index"
           >
                <ion-col size="12">
                  <ion-item lines="none"  class="ion-hide-sm-down"
                  [ngClass]="{'item-bg-dark': 0 === i % 2}" >
                    <ion-label style="max-width: 80px">
                      <p>Editar</p>
                      <ion-icon
                        name="create-outline"
                        style="font-size: large;color: #EF9E95;"
                        (click)="edit_multiple(item,i)"
                      ></ion-icon
                    ></ion-label>
                    <ion-label style="max-width: 80px">
                      <p>Excluir</p>
                      <ion-icon
                        name="close-outline"
                        style="font-size: large;color: #EF9E95;"
                        (click)="del_multiple(item,i)"
                      ></ion-icon
                    ></ion-label>
                    <ion-label style="min-width: 400px">
                      <p>
                        {{item.titles.pergunta}}: <b>{{questao.pergunta}}</b>
                      </p>
                      <p>
                        {{item.titles.category}}: <b>{{questao.category}}</b>
                      </p>
                    </ion-label>
                    <ion-label>
                      <p>
                        {{item.titles.ordem}}: <b>{{questao.ordem}}</b>
                      </p>
                      <p>
                        {{item.titles.tipo}}: <b>{{questao.tipo}}</b>
                      </p></ion-label
                    >

                    <ion-label>
                      <p>
                        {{item.titles.parametro}}: <b>{{questao.parametro}}</b>
                      </p>
                      <p>
                         <b></b>
                      </p></ion-label
                    >
                  </ion-item><ion-item lines="none" class="ion-hide-sm-up"
                [ngClass]="{'item-bg-dark': 0 === i % 2}">
                  <ion-label>
                    <p style="display: flex;">Excluir Questão
                      <ion-icon
                      name="close-outline"
                      style="font-size: large;margin-left: auto;color: #EF9E95;"
                      (click)="del_multiple(item,i)"
                    ></ion-icon
                  >
                    </p>
                    <p style="display: flex;">Editar Questão
                      <ion-icon
                      name="create-outline"
                      style="font-size: large;margin-left: auto;color: #EF9E95;"
                      (click)="edit_multiple(item,i)"
                    ></ion-icon
                  >
                    </p>
               
                    <p>
                      {{item.titles.pergunta}}: <b>{{questao.pergunta}}</b>
                    </p>
                    <p>
                      {{item.titles.category}}: <b>{{questao.category}}</b>
                    </p>
                    <p>
                      {{item.titles.ordem}}: <b>{{questao.ordem}}</b>
                    </p>
                    <p>
                      {{item.titles.tipo}}: <b>{{questao.tipo}}</b>
                    </p>
                    <p>
                      {{item.titles.parametro}}: <b>{{questao.parametro}}</b>
                    </p>
                  </ion-label>
                </ion-item>
                </ion-col
                >
              </ion-row>
            </div>
          </ion-grid>
        </ion-card>

        <!-- 
<ion-item lines="none">
            <ion-label>
              <h2><strong>Input</strong></h2>
            </ion-label>
          </ion-item>

          <ion-item lines="none" class="item-bg-dark">
            <div style="width: 85px"></div>
            <ion-label  >
              <p>{{allFilters[0]?.titles.category}} <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>{{allFilters[0]?.titles.formulario}} <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>{{allFilters[0]?.titles.tipo}} <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>{{allFilters[0]?.titles.parametro}} <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>{{allFilters[0]?.titles.ordem}} <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>

            <ion-label>
              <p>Questão <ion-icon class="dropdown-icon" name="ios-arrow-down"></ion-icon>
              </p>
            </ion-label>
          </ion-item>


          <ion-item lines="none" *ngFor="let item of allFilters; let i = index"
            [ngClass]="{'item-bg-dark': 1 === i % 2}">
            <ion-button (click)="edit_multiple(item)" style="margin: 0px 8px 0px 8px;" fill="clear" color="secondary" slot="start">
              <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button (click)="del_multiple(item)" style="margin: 0px 8px 0px 8px;" fill="clear" color="secondary" slot="start">
              <ion-icon name="trash"></ion-icon>
            </ion-button>

            <ion-label>
              <p>{{item.formularios[0].nform}}</p>
            </ion-label>

            <ion-label>
              <p>{{item.formulario}}</p>
            </ion-label>

            <ion-label>
              <p>{{item.tipo}}</p>
            </ion-label>

            <ion-label>
              <p>{{item.parametro}}</p>
            </ion-label>

            <ion-label>
              <p>{{item.ordem}}</p>
            </ion-label>

            <ion-label class="ion-text-wrap">
              <p>{{item.pergunta}}</p>
            </ion-label>
          </ion-item>
          -->
      </ion-list>
    </div>
    <!-- End Formularios -->

    <!-- Status -->
    <div *ngIf="tab =='status'">
      <ion-grid class="ion-no-padding">
        <ion-row class="sub-toolbar">
          <ion-col size="8">
            <h1>GESTÃO DE STATUS</h1>
            <p>
              Você é o cientista que define padrões para cuidar de vidas.
              Obrigado!
            </p>
          </ion-col>

          <ion-col size="4">
            <ion-item lines="none" class="search-bar">
              <ion-input
                class="search-input"
                type="text"
                placeholder="Pesquise uma patologia ou biomarcador..."
              >
                <ion-icon
                  class="searchbar-icon"
                  ios="ios-search"
                  md="md-search"
                ></ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card class="data-card">
        <ion-grid style="padding: 0px">
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label>
                  <h2><strong>Data processing</strong></h2>
                </ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item lines="none">
                <ion-label>
                  <h2><strong>Biomarcadores</strong></h2>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" style="padding: 0px">
              <ion-row class="item-bg-dark">
                <ion-col size="0.5"> </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p><strong>Nome</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p><strong>Categoria</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p><strong>Código</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="2" class="col-style">
                  <ion-label>
                    <p><strong>Tipo</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="2.5" class="col-style">
                  <ion-label>
                    <p><strong>Formulário</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="2.5" class="col-style">
                  <ion-label>
                    <p><strong>Parâmetro</strong></p>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row
                *ngFor="let item of allFilters; let i = index"
                [ngClass]="{'item-bg-dark': 1 === i % 2}"
              >
                <ion-col size="0.5">
                  <ion-icon
                    (click)="editStatus(item)"
                    style="padding: 2px"
                    color="secondary"
                    name="md-create"
                  >
                  </ion-icon>
                  <ion-icon
                    (click)="delStatus()"
                    style="padding: 2px"
                    color="secondary"
                    name="trash"
                  ></ion-icon>
                </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p>{{item.nome}}</p>
                  </ion-label>
                </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p>{{item.category}}</p>
                  </ion-label>
                </ion-col>

                <ion-col size="1.5" class="col-style">
                  <ion-label>
                    <p>{{item.cid}}</p>
                  </ion-label>
                </ion-col>

                <ion-col size="2" class="col-style">
                  <ion-label>
                    <p>{{item.type}}</p>
                  </ion-label>
                </ion-col>

                <ion-col size="2.5" class="col-style">
                  <ion-label>
                    <p>{{item.form}}</p>
                  </ion-label>
                </ion-col>

                <ion-col size="2.5" class="col-style">
                  <ion-label>
                    <p>{{item.patolog}}</p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="6" style="padding: 0px">
              <ion-row class="item-bg-darker">
                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p><strong>Exames lab.</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p><strong>Exames presenciais</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p><strong>Autoexames</strong></p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p><strong>Biossenssores</strong></p>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row
                *ngFor="let item of status_biomark; let i = index"
                [ngClass]="{'item-bg-dark': 1 === i % 2}"
              >
                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p>
                      <ion-icon color="secondary" name="md-create"></ion-icon>
                      {{item?.labs}}
                    </p>
                    <br />
                    <p>
                      <ion-icon
                        (click)="delBiomark('labs')"
                        color="secondary"
                        name="trash"
                      ></ion-icon>
                    </p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p>
                      <ion-icon color="secondary" name="md-create"></ion-icon>
                      {{item?.exams}}
                    </p>
                    <br />
                    <p>
                      <ion-icon
                        (click)="delBiomark('exams')"
                        color="secondary"
                        name="trash"
                      ></ion-icon>
                    </p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p>
                      <ion-icon color="secondary" name="md-create"></ion-icon>
                      {{item?.autoexams}}
                    </p>
                    <br />
                    <p>
                      <ion-icon
                        (click)="delBiomark('autoexams')"
                        color="secondary"
                        name="trash"
                      ></ion-icon>
                    </p>
                  </ion-label>
                </ion-col>

                <ion-col size="3" class="col-style">
                  <ion-label>
                    <p>
                      <ion-icon color="secondary" name="md-create"></ion-icon>
                      {{item?.biosens}}
                    </p>
                    <br />
                    <p>
                      <ion-icon
                        (click)="delBiomark('biosens')"
                        color="secondary"
                        name="trash"
                      ></ion-icon>
                    </p>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <!-- End Status -->
  </div>
</ion-content>
